@font-face {
  font-family: satify;
  src: url(Font/Satisfy-Regular.ttf);
}
h1 {
  font-family: satify;
}
.jumbotron {
  background-color: white;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
